B2MML-MI-ProcessSegment.xsd

<?xml version = "1.0" encoding = "UTF-8"?>

<xsd:schema     xmlns:xsd               = "http://www.w3.org/2001/XMLSchema"
                targetNamespace         = "http://www.mesa.org/xml/B2MML-MI"
                xmlns                   = "http://www.mesa.org/xml/B2MML-MI"
                xmlns:Extended          = "http://www.mesa.org/xml/B2MML-MI-AllExtensions" 
                elementFormDefault      = "qualified"
                attributeFormDefault    = "unqualified">
  
<!-- Import the Extension Schema         -->

<xsd:import     namespace="http://www.mesa.org/xml/B2MML-MI-AllExtensions" 
                schemaLocation="B2MML-MI-AllExtensions.xsd"/>

<!-- Include the Common schema   -->

  <xsd:include schemaLocation = "B2MML-MI-Common.xsd"/>


<xsd:annotation> 
   <xsd:documentation>

        Copyright 2012 MESA International All Rights Reserved. http://www.mesa.org

        This MESA International work (including specifications, documents, 
        software, and related items) referred to as the Business To 
        Manufacturing Markup Language (B2MML) is provided by the copyright 
        holders under the following license. 

        Permission to use, copy, modify, or redistribute this Work and its 
        documentation, with or without modification, for any purpose and 
        without fee or royalty is hereby granted provided the World Batch 
        Forum is acknowledged as the originator of this Work using the 
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used 
        courtesy of MESA International."

        In no event shall MESA International, its members, or any 
        third party be liable for any costs, expenses, losses, damages or 
        injuries incurred by use of the Work or as a result of this 
        agreement.
          
        Based upon the ANSI/ISA-95.00.02-2010 Enterprise-Control System 
        Integration Part 2: Object Model Attributes Standard and the
        ANSI/ISA-95.00.05-2006 Enterprise-Control System Integration 
        Part 5: Business to Manufacturing Transactions. 
   </xsd:documentation>

   <xsd:documentation>

     Revision History

     Ver           Date            Person          Note
     ---           ----            ------          ----
     BHPBilliton   22 Jun 2015     B. Poole        This is a BHPBilliton specific branch of V0600
     BHPBilliton   05 Apr 2016     C. Gifford      Add a Hierarchy Scope attribute to EquipmentSegmentSpecificationType (as per WD01 p 67)
     BHPBilliton   05 Apr 2016     C. Gifford      Add a Hierarchy Scope attribute to PhysicalAssetSegmentSpecificationType (as per WD01 p 73)
     BHPBilliton   05 Apr 2016     C. Gifford      Add a Hierarchy Scope attribute to MaterialSegmentSpecificationType (as per WD01 p 69)
     BHPBilliton   05 Apr 2016     C. Gifford      Add a Hierarchy Scope attribute to PersonnelSegmentSpecificationType (as per WD01 p 65)
     BHPBilliton   11 Apr 2016     C. Gifford      Add Nesting of Properties in Material Segment Specification Property (as per WD01 p 71)
     BHPBilliton   11 Apr 2016     C. Gifford      Add Nesting of Properties in Equipment Segment Specification Property (as per WD01 p 67)
     BHPBilliton   11 Apr 2016     C. Gifford      Add Nesting of Properties in Physical Segment Asset Specification Property (as per WD01 p 73)
     BHPBilliton   11 Apr 2016     C. Gifford      Add Nesting of Properties in Personnel Segment Specification Property (as per WD01 p 65)
     BHPBilliton   11 Apr 2016     C. Gifford      Add Geospatial element to the Material Segment Specification (as per WD01 p 69)
     BHPBilliton   05 Apr 2016     C. Gifford      Add Geospatial element to the Equipment Segment Specification (as per WD01 p 67)
     BHPBilliton   05 Apr 2016     C. Gifford      Add Geospatial element to the Physical Asset Segment Specification (as per WD01 p 73)
     MI            24 Oct 2016     B. Pogson       MI branch of B2MML
     BHPBilliton   03 Jan 2017     B. Poole        Add WorkmasterID element to the ProcessSegmentType as per part 2 WD04_2016_comment _Poole_02
     BHPBilliton   03 Jan 2017     B. Poole        Add AbstractProcessSegmentID element to the ProcessSegmentType as per part 2 WD04_2016_comment _Poole_05
     BHPBilliton   03 Jan 2017     B. Poole        Add DefinitionType element to the ProcessSegmentType as per part 2 WD04_2016_comment _Poole_05
     BHPBilliton   04 May 2017     B. Poole        Add ID element to PhysicalAssetSegmentSpecificationType as per part 2 WD04_2016_comment _Poole_01
	 BHPBilliton   04 May 2017     B. Poole        Add ID element to PersonnelSegmentSpecificationType as per part 2 WD04_2016_comment _Poole_01
	 BHPBilliton   04 May 2017     B. Poole        Add ID element to EquipmentSegmentSpecificationType as per part 2 WD04_2016_comment _Poole_01

   </xsd:documentation>
</xsd:annotation>

<!-- Global Elements -->
  
  <xsd:element  name = "ProcessSegmentInformation"              type = "ProcessSegmentInformationType" />
  <xsd:element  name = "ProcessSegment"                         type = "ProcessSegmentType" />

<!-- Transaction Elements -->
  <xsd:element name = "GetProcessSegmentInformation"            type = "GetProcessSegmentInformationType"/>
  <xsd:element name = "ShowProcessSegmentInformation"           type = "ShowProcessSegmentInformationType"/>
  <xsd:element name = "ProcessProcessSegmentInformation"        type = "ProcessProcessSegmentInformationType"/>
  <xsd:element name = "AcknowledgeProcessSegmentInformation"    type = "AcknowledgeProcessSegmentInformationType"/>
  <xsd:element name = "ChangeProcessSegmentInformation"         type = "ChangeProcessSegmentInformationType"/>
  <xsd:element name = "RespondProcessSegmentInformation"        type = "RespondProcessSegmentInformationType"/>
  <xsd:element name = "CancelProcessSegmentInformation"         type = "CancelProcessSegmentInformationType"/>
  <xsd:element name = "SyncProcessSegmentInformation"           type = "SyncProcessSegmentInformationType"/>


  <xsd:element name = "GetProcessSegment"                       type = "GetProcessSegmentType"/>
  <xsd:element name = "ShowProcessSegment"                      type = "ShowProcessSegmentType"/>
  <xsd:element name = "ProcessProcessSegment"                   type = "ProcessProcessSegmentType"/>
  <xsd:element name = "AcknowledgeProcessSegment"               type = "AcknowledgeProcessSegmentType"/>
  <xsd:element name = "ChangeProcessSegment"                    type = "ChangeProcessSegmentType"/>
  <xsd:element name = "RespondProcessSegment"                   type = "RespondProcessSegmentType"/>
  <xsd:element name = "CancelProcessSegment"                    type = "CancelProcessSegmentType"/>
  <xsd:element name = "SyncProcessSegment"                      type = "SyncProcessSegmentType"/>



<!-- Simple & Complex Types  -->

  <xsd:complexType name = "ProcessSegmentInformationType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType"
                                                        minOccurs = "0"/>
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <!-- Location ELEMENT IS DEPRECATED and may be removed in a future release, use HierarchyScope instead -->
      <xsd:element name = "Location"                    type="LocationType" 
	                                                    minOccurs="0"/> 
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PublishedDate"               type = "PublishedDateType"
                                                        minOccurs = "0"/>
      <xsd:element name = "ProcessSegment"              type = "ProcessSegmentType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:ProcessSegmentInformation"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "ProcessSegmentType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "OperationsType"              type = "OperationsTypeType" minOccurs = "0"/>
      <!-- Location ELEMENT IS DEPRECATED and may be removed in a future release, use HierarchyScope instead -->
      <xsd:element name = "Location"                    type="LocationType"         minOccurs="0"/> 
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType" minOccurs = "0"/>
      <xsd:element name = "PublishedDate"               type = "PublishedDateType"
                                                        minOccurs = "0"/>
      <xsd:element name = "Duration"                    type = "DurationType"
                                                        minOccurs = "0"/>
      <xsd:element name = "DefinitionType"              type="DefinitionTypeType" />
      <xsd:element name = "AbstractProcessSegmentID"    type = "IdentifierType" minOccurs = "0" />
      <xsd:element name = "PersonnelSegmentSpecification"
                                                        type = "PersonnelSegmentSpecificationType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentSegmentSpecification"
                                                        type = "EquipmentSegmentSpecificationType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetSegmentSpecification"
                                                        type = "PhysicalAssetSegmentSpecificationType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialSegmentSpecification"
                                                        type = "MaterialSegmentSpecificationType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Parameter"                   type = "ParameterType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "SegmentDependency"           type = "SegmentDependencyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "ProcessSegment"              type = "ProcessSegmentType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "WorkMasterID"                type = "IdentifierType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:ProcessSegment"     minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "PersonnelSegmentSpecificationType">
    <xsd:sequence>
      <xsd:element name="ID" 							type="IdentifierType"/>
      <xsd:element name = "PersonnelClassID"            type = "PersonnelClassIDType" 
                                                        minOccurs = "0" />
      <xsd:element name = "PersonID"                    type = "PersonIDType" 
                                                        minOccurs = "0" />
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelUse"                type = "CodeType" minOccurs = "0"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "HierarchyScope" 				type="HierarchyScopeType" minOccurs="0"/>
      <xsd:element name = "PersonnelSegmentSpecificationProperty" 
                                                        type = "PersonnelSegmentSpecificationPropertyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:PersonnelSegmentSpecification"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "PersonnelSegmentSpecificationPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Value"                       type = "ValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PersonnelSegmentSpecificationProperty" 
                                                        type = "PersonnelSegmentSpecificationPropertyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:PersonnelSegmentSpecificationProperty"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "EquipmentSegmentSpecificationType">
    <xsd:sequence>
	  <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "EquipmentClassID"            type = "EquipmentClassIDType" 
                                                        minOccurs = "0" />
      <xsd:element name = "EquipmentID"                 type = "EquipmentIDType" 
                                                        minOccurs = "0" />
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentUse"                type = "CodeType" minOccurs = "0"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "GeospatialDesignation"        type = "GeospatialDesignationType"
                                                        minOccurs = "0"/>
      <xsd:element name = "HierarchyScope" 				type="HierarchyScopeType" minOccurs="0"/>
      <xsd:element name = "EquipmentSegmentSpecificationProperty"       
                                                        type = "EquipmentSegmentSpecificationPropertyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:EquipmentSegmentSpecification"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "EquipmentSegmentSpecificationPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Value"                       type = "ValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "EquipmentSegmentSpecificationProperty"       
                                                        type = "EquipmentSegmentSpecificationPropertyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:EquipmentSegmentSpecificationProperty"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "PhysicalAssetSegmentSpecificationType">
    <xsd:sequence>
      <xsd:element name="ID" 							type="IdentifierType"/>
      <xsd:element name = "PhysicalAssetClassID"        type = "PhysicalAssetClassIDType" 
                                                        minOccurs = "0" />
      <xsd:element name = "PhysicalAssetID"             type = "PhysicalAssetIDType" 
                                                        minOccurs = "0" />
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetUse"            type = "CodeType" minOccurs = "0"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "GeospatialDesignation"        type = "GeospatialDesignationType"
                                                        minOccurs = "0"/>
      <xsd:element name = "PhysicalAssetSegmentSpecificationProperty"       
                                                        type = "PhysicalAssetSegmentSpecificationPropertyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "HierarchyScope" 				type="HierarchyScopeType" minOccurs="0"/>
      <xsd:group   ref  = "Extended:PhysicalAssetSegmentSpecification"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "PhysicalAssetSegmentSpecificationPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Value"                       type = "ValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "PhysicalAssetSegmentSpecificationProperty"       
                                                        type = "PhysicalAssetSegmentSpecificationPropertyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:PhysicalAssetSegmentSpecificationProperty"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "MaterialSegmentSpecificationType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "MaterialClassID"             type = "MaterialClassIDType"  
                                                        minOccurs = "0" />
      <xsd:element name = "MaterialDefinitionID"        type = "MaterialDefinitionIDType"  
                                                        minOccurs = "0" />
      <xsd:element name = "Description"                 type = "DescriptionType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "AssemblyType"                type = "AssemblyTypeType" minOccurs = "0"/>
      <xsd:element name = "AssemblyRelationship"        type = "AssemblyRelationshipType" minOccurs = "0"/>
      <xsd:element name = "AssemblySpecificationID"     type = "IdentifierType" 
	                                                    minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialUse"                 type = "MaterialUseType"
                                                        minOccurs = "0"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "GeospatialDesignation"        type = "GeospatialDesignationType"
                                                        minOccurs = "0"/>
      <xsd:element name = "HierarchyScope" 				type="HierarchyScopeType" minOccurs="0"/>
      <xsd:element name = "MaterialSegmentSpecificationProperty"        
                                                        type = "MaterialSegmentSpecificationPropertyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:MaterialSegmentSpecification"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name = "MaterialSegmentSpecificationPropertyType">
    <xsd:sequence>
      <xsd:element name = "ID"                          type = "IdentifierType" />
      <xsd:element name = "Description"                 type = "DescriptionType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Value"                       type = "ValueType"
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "Quantity"                    type = "QuantityValueType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:element name = "MaterialSegmentSpecificationProperty"        
                                                        type = "MaterialSegmentSpecificationPropertyType" 
                                                        minOccurs = "0" maxOccurs = "unbounded"/>
      <xsd:group   ref  = "Extended:MaterialSegmentSpecificationProperty"
                                                        minOccurs = "0" maxOccurs = "1"/>
    </xsd:sequence>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- ProcessSegmentInformation Transaction Types   -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetProcessSegmentInformationType">
    <xsd:sequence>      
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "ProcessSegmentInformation"
                                                type = "ProcessSegmentInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowProcessSegmentInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "ProcessSegmentInformation"
                                                type = "ProcessSegmentInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessProcessSegmentInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "ProcessSegmentInformation"
                                                type = "ProcessSegmentInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeProcessSegmentInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "ProcessSegmentInformation"
                                                type = "ProcessSegmentInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeProcessSegmentInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>

              <xsd:element name = "ProcessSegmentInformation"
                                                type = "ProcessSegmentInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondProcessSegmentInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "ProcessSegmentInformation"
                                                type = "ProcessSegmentInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelProcessSegmentInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "ProcessSegmentInformation"
                                                type = "ProcessSegmentInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncProcessSegmentInformationType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "ProcessSegmentInformation"
                                                type = "ProcessSegmentInformationType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


<!-- - - - - - - - - - - - - - - - - - - - - -->
<!-- ProcessSegment Transaction Types         -->
<!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetProcessSegmentType">
    <xsd:sequence>      
         <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Get"         type = "TransGetType"/>
              <xsd:element name = "ProcessSegment"
                                                type = "ProcessSegmentType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowProcessSegmentType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"       type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Show"        type = "TransShowType"/>
              <xsd:element name = "ProcessSegment"
                                                type = "ProcessSegmentType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessProcessSegmentType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Process"     type = "TransProcessType"/>
              <xsd:element name = "ProcessSegment"
                                                type = "ProcessSegmentType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeProcessSegmentType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
              <xsd:element name = "ProcessSegment"
                                                type = "ProcessSegmentType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeProcessSegmentType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Change"      type = "TransChangeType"/>
              <xsd:element name = "ProcessSegment"
                                                type = "ProcessSegmentType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondProcessSegmentType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Respond"     type = "TransRespondType"/>
              <xsd:element name = "ProcessSegment"
                                                type = "ProcessSegmentType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelProcessSegmentType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Cancel"      type = "TransCancelType"/>
              <xsd:element name = "ProcessSegment"
                                                type = "ProcessSegmentType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncProcessSegmentType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
         <xsd:complexType>
            <xsd:sequence>
              <xsd:element name = "Sync"        type = "TransSyncType"/>
              <xsd:element name = "ProcessSegment"
                                                type = "ProcessSegmentType"
                                                minOccurs = "1" 
                                                maxOccurs = "unbounded"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>



</xsd:schema>