B2MML-MI-WorkCalendar.xsd

<?xml version="1.0" encoding="utf-8"?>

<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.mesa.org/xml/B2MML-MI"
  xmlns="http://www.mesa.org/xml/B2MML-MI"
  xmlns:Extended="http://www.mesa.org/xml/B2MML-MI-AllExtensions"

  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xsd:include schemaLocation="B2MML-MI-Common.xsd" />


  <xsd:import namespace="http://www.mesa.org/xml/B2MML-MI-AllExtensions"
              schemaLocation="B2MML-MI-AllExtensions.xsd" />
  <xsd:annotation>
    <xsd:documentation>
      This file simply includes the B2MML schemas into a single
      definition that will allow the inclusion of these schemas into the
      global set of Process Centric Notifys as the Process Centric Notify
      Proposal 0.1.

      Copyright 2012 MESA International
      All Rights Reserved. http://www.mesa.org

      This MESA International work (including specifications, documents,
      software, and related items) referred to as the Business To
      Manufacturing Markup Language (B2MML) is provided by the copyright
      holders under the following license.

      Permission to use, copy, modify, or redistribute this Work and its
      documentation, with or without modification, for any purpose and
      without fee or royalty is hereby granted provided the World Batch
      Forum is acknowledged as the originator of this Work using the
      following statement:

      "The Business To Manufacturing Markup Language (B2MML) is used
      courtesy of MESA International."

      In no Notify shall MESA International, its members, or any
      third party be liable for any costs, expenses, losses, damages or
      injuries incurred by use of the Work or as a result of this
      agreement.

      Based upon the ANSI/ISA-95.00.02-2010 Enterprise-Control System
      Integration Part 2: Object Model Attributes Standard and the
      ANSI/ISA-95.00.05-2006 Enterprise-Control System Integration
      Part 5: Business to Manufacturing Transactions
    </xsd:documentation>

    <xsd:documentation>

      Revision History

      Ver           Date            Person          Note
      ---           ----            ------          ----
      BHPBilliton   22 Jun 2015     B. Poole        This is a BHPBilliton specific branch of V0600
      BHPBilliton   21 Sep 2016     B. Poole        Initial draft of WorkCalendar schema as per Part 4 ed 2 WD03 and ISA-95.05 2016_comment_Poole_01
      MI            24 Oct 2016     B. Pogson       MI branch of B2MML
    </xsd:documentation>
  </xsd:annotation>

  <!-- Global Elements -->
  <xsd:element name="WorkCalendarDefinition" type="WorkCalendarDefinitionType" />
  <xsd:element name="WorkCalendar" type="WorkCalendarType" />

  <!-- Transaction Elements -->
  <xsd:element name = "GetWorkCalendarDefinition"                  type = "GetWorkCalendarDefinitionType"/>
  <xsd:element name = "ShowWorkCalendarDefinition"                 type = "ShowWorkCalendarDefinitionType"/>
  <xsd:element name = "ProcessWorkCalendarDefinition"              type = "ProcessWorkCalendarDefinitionType"/>
  <xsd:element name = "AcknowledgeWorkCalendarDefinition"          type = "AcknowledgeWorkCalendarDefinitionType"/>
  <xsd:element name = "ChangeWorkCalendarDefinition"               type = "ChangeWorkCalendarDefinitionType"/>
  <xsd:element name = "RespondWorkCalendarDefinition"              type = "RespondWorkCalendarDefinitionType"/>
  <xsd:element name = "CancelWorkCalendarDefinition"               type = "CancelWorkCalendarDefinitionType"/>
  <xsd:element name = "SyncWorkCalendarDefinition"                 type = "SyncWorkCalendarDefinitionType"/>

  <xsd:element name = "GetWorkCalendar"                  type = "GetWorkCalendarType"/>
  <xsd:element name = "ShowWorkCalendar"                 type = "ShowWorkCalendarType"/>
  <xsd:element name = "ProcessWorkCalendar"              type = "ProcessWorkCalendarType"/>
  <xsd:element name = "AcknowledgeWorkCalendar"          type = "AcknowledgeWorkCalendarType"/>
  <xsd:element name = "ChangeWorkCalendar"               type = "ChangeWorkCalendarType"/>
  <xsd:element name = "RespondWorkCalendar"              type = "RespondWorkCalendarType"/>
  <xsd:element name = "CancelWorkCalendar"               type = "CancelWorkCalendarType"/>
  <xsd:element name = "SyncWorkCalendar"                 type = "SyncWorkCalendarType"/>

  <!-- Simple & Complex Types	-->
  <xsd:complexType name="WorkCalendarDefinitionType">
    <xsd:sequence>
      <xsd:element name="ID" type="IdentifierType" />
      <xsd:element name="Description" type="DescriptionType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                  minOccurs = "0"  nillable="true"/>
      <xsd:element name="Value" type="ValueType"
                   minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="WorkCalendarDefinitionProperty" type="WorkCalendarPropertyType"
                  minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="WorkCalendarDefinitionEntry" type="WorkCalendarDefinitionEntryType"
                  minOccurs="0" maxOccurs="unbounded" />
      <xsd:group ref="Extended:WorkCalendarDefinition" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WorkCalendarDefinitionEntryType">
    <xsd:sequence>
      <xsd:element name="ID" type="IdentifierType" />
      <xsd:element name="Description" type="DescriptionType"
                   minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="StartRule" type="DateTimeType" />
      <xsd:element name="RecurrenceTimeIntervalRule" type="RecurrenceType" />
      <xsd:element name="DurationRule" type="DurationType" />
      <xsd:element name="EntryType" type="TextType" />
      <xsd:element name="WorkCalendarEntryProperty" type="WorkCalendarPropertyType"
                   minOccurs="0" maxOccurs="unbounded" />
      <xsd:group ref="Extended:WorkCalendarDefinitionEntry"
                 minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WorkCalendarType">
    <xsd:sequence>
      <xsd:element name="ID" type="IdentifierType" />
      <xsd:element name="Description" type="DescriptionType" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name = "HierarchyScope"              type = "HierarchyScopeType"
                                                  minOccurs = "0"  nillable="true"/>
      <xsd:element name="Value" type="ValueType"
                   minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="WorkCalendarProperty" type="WorkCalendarPropertyType"
                  minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="WorkCalendarDefinitionID" type="IdentifierType" />
      <xsd:element name="WorkCalendarEntry" type="WorkCalendarEntryType"
                  minOccurs="0" maxOccurs="unbounded" />
      <xsd:group ref="Extended:WorkCalendarDefinition" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WorkCalendarEntryType">
    <xsd:sequence>
      <xsd:element name="ID" type="IdentifierType" />
      <xsd:element name="Description" type="DescriptionType"
                   minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="StartRule" type="DateTimeType" />
      <xsd:element name="RecurrenceTimeIntervalRule" type="RecurrenceType" />
      <xsd:element name="DurationRule" type="DurationType" />
      <xsd:element name="EntryType" type="TextType" />
      <xsd:element name="WorkCalendarEntryProperty" type="WorkCalendarPropertyType"
                   minOccurs="0" maxOccurs="unbounded" />
      <xsd:group ref="Extended:WorkCalendarDefinitionEntry"
                 minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WorkCalendarPropertyType">
    <xsd:sequence>
      <xsd:element name="ID" type="IdentifierType" />
      <xsd:element name="Description" type="DescriptionType"
                   minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="Value" type="ValueType"
                   minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="WorkCalendarPropertyType" type="WorkCalendarPropertyType"
                   minOccurs="0" maxOccurs="unbounded" />
      <xsd:group ref="Extended:WorkCalendarProperty"
                 minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- - - - - - - - - - - - - - - - - - - - - -->
  <!-- WorkCalendarDefinition Transaction Types   -->
  <!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetWorkCalendarDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Get"         type = "TransGetType"/>
            <xsd:element name = "WorkCalendarDefinition"
                                              type = "WorkCalendarDefinitionType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowWorkCalendarDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Show"        type = "TransShowType"/>
            <xsd:element name = "WorkCalendarDefinition"
                                              type = "WorkCalendarDefinitionType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessWorkCalendarDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Process"     type = "TransProcessType"/>
            <xsd:element name = "WorkCalendarDefinition"
                                              type = "WorkCalendarDefinitionType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeWorkCalendarDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
            <xsd:element name = "WorkCalendarDefinition"
                                              type = "WorkCalendarDefinitionType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeWorkCalendarDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"       type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Change"      type = "TransChangeType"/>
            <xsd:element name = "WorkCalendarDefinition"
                                              type = "WorkCalendarDefinitionType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondWorkCalendarDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"       type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Respond"     type = "TransRespondType"/>
            <xsd:element name = "WorkCalendarDefinition"
                                              type = "WorkCalendarDefinitionType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelWorkCalendarDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"       type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Cancel"      type = "TransCancelType"/>
            <xsd:element name = "WorkCalendarDefinition"
                                              type = "WorkCalendarDefinitionType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncWorkCalendarDefinitionType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"      type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Sync"        type = "TransSyncType"/>
            <xsd:element name = "WorkCalendarDefinition"
                                              type = "WorkCalendarDefinitionType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>

  <!-- - - - - - - - - - - - - - - - - - - - - -->
  <!-- WorkCalendar Transaction Types   -->
  <!-- - - - - - - - - - - - - - - - - - - - - -->

  <xsd:complexType name = "GetWorkCalendarType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"  type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Get"         type = "TransGetType"/>
            <xsd:element name = "WorkCalendar"
                                              type = "WorkCalendarType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ShowWorkCalendarType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Show"        type = "TransShowType"/>
            <xsd:element name = "WorkCalendar"
                                              type = "WorkCalendarType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ProcessWorkCalendarType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Process"     type = "TransProcessType"/>
            <xsd:element name = "WorkCalendar"
                                              type = "WorkCalendarType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "AcknowledgeWorkCalendarType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"     type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Acknowledge" type = "TransAcknowledgeType"/>
            <xsd:element name = "WorkCalendar"
                                              type = "WorkCalendarType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "ChangeWorkCalendarType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"       type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Change"      type = "TransChangeType"/>
            <xsd:element name = "WorkCalendar"
                                              type = "WorkCalendarType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "RespondWorkCalendarType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"       type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Respond"     type = "TransRespondType"/>
            <xsd:element name = "WorkCalendar"
                                              type = "WorkCalendarType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "CancelWorkCalendarType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"       type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Cancel"      type = "TransCancelType"/>
            <xsd:element name = "WorkCalendar"
                                              type = "WorkCalendarType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>


  <xsd:complexType name = "SyncWorkCalendarType">
    <xsd:sequence>
      <xsd:element name = "ApplicationArea"      type = "TransApplicationAreaType"/>
      <xsd:element name = "DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Sync"        type = "TransSyncType"/>
            <xsd:element name = "WorkCalendar"
                                              type = "WorkCalendarType"
                                              minOccurs = "1"
                                              maxOccurs = "unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:sequence>
    <xsd:attribute name = "releaseID"           type="xsd:normalizedString"     use="required"/>
    <xsd:attribute name = "versionID"           type="xsd:normalizedString"     use="optional"/>
  </xsd:complexType>

</xsd:schema>